body {
    background-color: #ffffff;
    margin: 3em;
    line-height: 1.35;
    max-width: 700px;
}

h1 {
    font-family: sans-serif;
}

p {
    font-family: serif;
}

a {
    color: #000000;
}

a:visited {
    color: #333333;
}

